main.flex {
	margin: 5vh 0px 5vw 0px;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 35vh;
}

section {
	justify-content: center;
	background-color: #242629;
	border-radius: 10px;
	padding: 30px 55px;
}

h3 {
	font-size: 35px;
	text-align: center;
}

#errorText {
	height: 30px;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #ff5b5b;
	margin: 10px auto;
}

form {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.form-group {
	background-color: transparent;
	border: transparent;
	align-self: center;
	margin: 20px 5px;
}

.form-group label {
	margin: 0px 5px;
	color: #767676;
}

.form-group input {
	height: 30px;
	width: 350px;
	background-color: #16161a;
	border-color: transparent;
	border-radius: 5px;
	text-indent: 10px;
	transition: 0.5s;

}
.form-group > input:focus {
	outline: 2px solid #7f5af0;
	
}

#forgotBtn {
	transition: 0.3s;
	border-radius: 15px;
	align-self: center;
}

#forgotBtn:hover {
	background-color: #7f5af080;
  	color: #fffffe;
  	cursor: pointer;
}

/* Break points  */
@media only screen and (max-width: 1200px) {

	.right-side img {
    max-width: 400px;
    max-height: 400px;
  }
}

@media only screen and (max-width: 960px) {
	
	.right-side {
		display: none; 
	}
}

@media only screen and (max-width: 510px) {
	
	.left-side section {
	padding: 30px 30px;
	margin: 10px;
	}
	.left-side input {
	width: 300px;
	align-self: center;
	}
	#submit {
	flex-direction: column; 
	}
	#forgotBtn {
	margin: 20px 0px;
	}
}